#name {
	float: left;
	background-color: #4aaaa5;
	margin-left: 40px;
	border-color: #cccccc;
	border: 1px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	height: 50px;
	color: white;
	padding-top: 50px;
	padding-left:  50px;
	padding-right: 50px;

}

#navigation {
	float: right;
	border-color: #cccccc;
	
}

.img {

}


header {
	width: 100%;
	display: block;
	height: 100px;


}